<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand", style="text-align:center">RuberryPyMon</a>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><%= link_to "Logout", logout_path, method: :delete, class: "black-text" %></a></li>
  </ul>
</nav>
