<nav class="navbar navbar-light bg-light text-center">
  <a class="navbar-brand">RuberryPyMon</a>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><%= link_to "Login with Github", "/auth/github" %></a></li>
  </ul>
</nav>
